# Python
__pycache__/
*.py[cod]
*.py[co]
*.egg-info/
*.egg
*.pyd
*.pyo
*.pyc
*.pyo

# Виртуальное окружение
venv/
.venv/
env/
.venv/*

# Логи и прочий мусор
*.log
*.tmp
*.swp
*~

# Конфигурационные файлы IDE
.vscode/
.idea/

# Docker
.database
data/
*.log
docker-compose.override.yml
.env
dist/
build/
*.pid
.gitlab-ci.yml
.github/